
@{
    ViewBag.Title = "_MINE_MF";
}
<body style="text-align:center; color:orangered;">
    <h2>_MINE_MF</h2>

    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header");
    }
    else
    {
        <header>
            <p>
                CACACACACACACACACACCACACCCACCACACACACACCACCACACACACACACACACACACCACACCCACCACACACACACCACCA
                CACACACACACACACACACCACACCCACCACACACACACCACCACACACACACACACACACACCACACCCACCACACACACACCACCA
                CACACACACACACACACACCACACCCACCACACACACACCACCACACACACACACACACACACCACACCCACCACACACACACCACCA
                CACACACACACACACACACCACACCCACCACACACACACCACCACACACACACACACACACACCACACCCACCACACACACACCACCA
                CACACACACACACACACACCACACCCACCACACACACACCACCACACACACACACACACACACCACACCCACCACACACACACCACCA
            </p>
        </header>
    }


    @if (IsSectionDefined("Yoo"))
    {
        @RenderSection("Yoo");
    }
    else
    {
        <p>BOOIA</p>
    }

    <div style="color:green;">

        @RenderBody()

    </div>



    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer");
    }
    else
    {
        <footer>
            PIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPI
            PIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPI
            PIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPI
            PIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPI
            PIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPIPI
        </footer>
    }
</body>