
@{
    ViewBag.Title = "p2";
}


<body>
    @section Header{
        <header>
            LOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOL
            LOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOL
            LOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOL
            LOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOLLOLOLOLOLOLOLOLOLOL
        </header>
    }
    <br />

    @section Yoo{
        <p>YOOOOO THIS IS A TEST WITH A PERSO SECTION</p>
        }

    Yoiiiii here is a partial view:
    <br />
    @Html.Partial("_ppp")


    @section Footer{
        <footer>
            BBBBBBBOOOOOOOOOOOOOIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
            IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
        </footer>
    }

</body>